:root {
  --deep-blue: #061b2e;
  --creme: #b69979;
  --blue: #007eb4;
  --silver: #eaeaf1;
}
*{
  box-sizing: border-box;
}
/*General styling begins*/
body{
  background-color: var(--deep-blue);
  color: var(--creme);
  font-family: 'Lora', sans-serif; 
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  height: 100%;
}

/*Light-Dark Mode*/
.light-mode {
  background-color: var(--silver);
  color: var(--deep-blue);
}
.switch {
  height: 50px;
  right: 50px;
}
  
.theme-switch {
display: inline-block;
height: 25px;
position: relative;
width: 45px;
}

.theme-switch input {
display:none;
}

.slider {
background-color: var(--creme);
bottom: 0;
cursor: pointer;
left: 0;
position: absolute;
right: 0;
top: 0;
transition: .4s;
}

.slider:before {
background-color: var(--deep-blue);
bottom: 2px;
content: "";
height: 20px;
left: 4px;
position: absolute;
transition: .4s;
width: 20px;
}

input:checked + .slider {
background-color: #fff;
}

input:checked + .slider:before {
transform: translateX(16px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
/*Dark-light mode styling ends*/

a {
  color: var(--creme);
  text-decoration: none;
  }
a:hover, a:focus {
  text-decoration: none;
  color: var(--silver);
  background-color: var(--blue);
  border-radius: 5px;
  transition: 0.2s opacity;
  padding: 3px;
}
/* a:active{
  text-decoration: underline;
  color: var(--creme);
} */
a:hover, a:focus, .a:hover, .a:focus {
  cursor: pointer;
  opacity: 0.8;
}
b{
  color: var(--blue);
}
/*General styling ends*/

/* Header stylings start*/
.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  position:sticky;
  top: 1px;
  background-color: var(--deep-blue);
}
.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  align-self: flex-start;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
/* .navigation-list__item--active {
  color: var(--silver);
  font-weight: bolder;
} */
#nikola_logo{
  width: 10%;
  height: 10%;
}
/* header styling end */

/*Profile page styling begins*/
.profile-page{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 75vh;
  overflow: auto;
}
.profile-page h1{
  text-align: center;
}
.profile {
  max-width: 925px;
  display: flex;
  justify-content: center;
  height: 100%;
}
.intro-box{
  text-align: center;
}
.intro-box p {
  font-size: 20px;
  margin: 5px;
}
.profile-portrait{
  /* float: left; */
  width: 50vmin;
  margin-right: 40px;
  border-radius: 50%;
}
.intro-box{
  align-self: center;
}
#look-work{
  color: var(--silver);
  font-weight: bold;
  margin-left: 5px;
}
.dark-link{
  color: var(--deep-blue) !important;
}

@media all and (max-width: 500px) {
  .profile {
   flex-wrap: wrap;
   justify-content: center;
   margin: 50px 50px 10px;
   text-align: center;
  }
  .profile-portrait{
    margin: 0;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  #nikola_logo{
    width: 1em;
  }
}

.page-footer{
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  bottom: 0;
}

.social-media{
  align-self: center;
  justify-self: end;
}
.social-media_icon{
    width: 40px;
}
.page-footer p{
  font-size: 15px;
}
.social-media a{
  margin: 3px;
}
.social-media a:hover, a:focus {
  text-decoration: none;
  padding: 0;
  background-color: transparent;
}
.social-media a:visited{
  text-decoration: none;
  background-color: var(--deep-blue);
}
.social-media_icon:hover{
  position: relative;
  top: -4px;
}
/*Profile page styling ends*/

/*About page styling begins*/
.about-page {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
  padding:170px 100px 0px;
  font-size: 3vmin;
}
.about-page h1 {
  text-align: center;
  margin: 0;
  font-size: 32px;
}
.about-page a:hover {
  padding: 10px;
}
.about-div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 2vmin;
}
@media all and (max-width: 1300px) {
  .about-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (max-width: 1000px) {
  .about-page {
    padding: 10px;
  }
}
#personal-info{
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media all and (max-width: 1000px) {
  #personal-info {
    grid-template-columns: 1fr;
  }
}
.about-paragraph{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  background-color: var(--deep-blue);
  color: var(--creme);
  border-radius: 15px;
  width: auto;
  height: auto;
  min-height: auto;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2), 0 5px 5px 0 rgba(238, 203, 150, 0.24);
  margin-bottom: 40px;
  margin: 10px;
}
.prompts{
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--blue);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
  margin-bottom: 5px;
}
.prompts:visited{
  color: white;
}
.additional-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  background-color: var(--deep-blue);
  color: var(--creme);
  border-radius: 15px;
  width: auto;
  height: auto;
  min-height: auto;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2), 0 5px 5px 0 rgba(238, 203, 150, 0.24);
  margin: 10px;
}

#skills{
  display: grid;
  flex-direction: column;
  justify-items: center;
  padding: 30px;
  background-color: var(--deep-blue);
  color: var(--creme);
  border-radius: 15px;
  width: auto;
  height: auto;
  min-height: auto;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2), 0 5px 5px 0 rgba(238, 203, 150, 0.24);
  margin: 20px;
}

#skills-wrap{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.skills-list h4 {
text-align: center;
}
.skills-list span {
  background-color: var(--silver);
  color: var(--deep-blue);
  border-radius: 5px;
  padding: 5px; 
  width: auto;
  height: auto;
  min-height: auto;
  margin: 0;
  margin: 5px;
  font-weight: bold;
  }
.skills-list span:hover{
  position: relative;
  top: -4px;
  cursor: pointer;
}

  .tool-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media all and (max-width: 1300px) {
    #skills-wrap{
  flex-direction: row;
    }
  }
  @media all and (max-width: 500px) {
    .tool-container{
      flex-direction: column;
    }
  }

/*About page styling begins*/

/*Work page styling begins*/
.work-page{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
  padding-top: 170px;
}
#work-heading{
  text-align: center;
}

.project_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.project {
  background-color: var(--deep-blue);
  color: var(--creme);
  border-radius: 30px;
  padding: 30px;
  width: auto;
  height: auto;
  min-height: auto;
  margin: 0;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2), 0 5px 5px 0 rgba(238, 203, 150, 0.24);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
}

.project_title{
  font-size: 2.5vmin;
}
.project_description{
  height: 30%;
  font-size: 2vmin;
  padding: 10px;
}

.project-buttons {
  display: flex;
  justify-self: end;
  margin-top: 5px;
}

.project-buttons a{
  background-color: var(--creme);
  border-radius: 5px;
  padding: 2px 10px;
  color: var(--deep-blue);
  font-weight: bold;
  font-size: 1.6vmin;
  display: inline-block;
  margin: 5px;
}

.project_img {
  width: 100%;
  border: 2px solid #b69979;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2), 0 5px 5px 0 rgba(238, 203, 150, 0.24);
}

.project video{
  width: 40%;
  height: 36vh;
  border: 2px solid #b69979;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2), 0 5px 5px 0 rgba(238, 203, 150, 0.24);
}

.project a:last-of-type {
  bottom: 6px; /* add a small gap between the two elements */
}
.project_grid a:visited{
  background-color: var(--silver);
  border-radius: 5px;
  color: var(--deep-blue);
}
.project_grid a:hover, a:focus{
  background-color: var(--blue);
  color: white;
  text-decoration: none;
}

@media all and (max-width: 700px) {
  .project_grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 700px) and (max-width: 1200px){
  .project_grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .project_grid {
    grid-gap: 10px;
  }
  .project:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  .project_grid h1 {
    font-size: 22px;
  }
}
/*Work page styling ends*/

/*Case study stylings*/

.case-study{
  margin: 0 200px 0;
}
.case-study h1, .case-study h2 {
  text-align: center;
  margin-top: 50px;
}

.case-study h1{
  margin-top: 0;
  margin-bottom: 50px;
}
@media all and (max-width: 1100px) {
  .case-study{
    margin: 0 100px 0;
  }
}
@media all and (max-width: 700px) {
  .case-study{
    margin: 0 50px 0;
  }
}
@media all and (max-width: 400px) {
  .case-study{
    margin: 0 20px 0;
  }
}

.case-intro {
  display: flex;
}

.case-img{
  width: 500px;

}

.case-intro-content{
  width: 100%;
  margin-right: 20px;
  display: block;
}

h4{
  margin-bottom: 0;
}

.case-img-wrap img, 
.welcome-img-wrap img, 
.views-img-wrap img,
.server-img-wrap img{
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(168, 165, 199, 0.2), 0 5px 10px 0px rgba(238, 203, 150, 0.24);
}
figure{
  text-align: center;
}

@media all and (max-width: 1600px) {
  .case-intro {
    display: grid;
    grid-template-columns: 1fr;
  }
  .case-img-wrap{
    display: flex;
  }
  .case-img{
    width: 100%;
    margin-top: 20px;
  }
  .case-intro h2 {
    text-align: center;
  }
  .case-intro h1 {
    text-align: center;
  }
}
@media all and (max-width: 1300px) {
  .case-img-wrap{
  display: block;
  }
}

.server-side{
  display: flex;
  flex-direction: row-reverse;
}
.server-side-content{
  width: 100%;
  margin-left: 20px;
  display: block;
}
.server-img-wrap img{
  margin-top: 20px;
  width: 90%;
}

@media all and (max-width: 1439px) {
  .server-side {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 20px;
  }
  .server-img-wrap img{
    width: 100%;
    justify-content: center;
  }
}

.client-side{
  display: flex;
  width: 100%;
  margin-right: 20px;
}
.client-content{
  text-align: justify;
  margin-right: 20px;
}
.client-content h2 {
  text-align: end;
}
.welcome-img-wrap{
  display: flex;
  margin-top: 10px;
}
.welcome-img {
  width: 250px;
}

@media all and (max-width: 1439px) {
  .client-side {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 20px;
  }
  .client-side h2{
    text-align: right;
  }
  .client-content{
    text-align: justify;
    margin-right: 20px;
  }
  .welcome-img-wrap {
    width: 100%;
    justify-content: center;
  }
  .client-content h2 {
    text-align: center;
  }
  .welcome-img {
    width: 100%;
  }
}

.differences{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#phone-views {
  display: flex;
}
.view-img{
  width: 100%;
}

.views-img-wrap{
  display: flex;
}
#profile-view {
  width: 80%;
}
#MovieView {
  height: 70%;
}

@media all and (max-width: 1200px) {
  .differences {
    display: grid;
    grid-template-columns: 1fr;
  }
  .differences h2 {
    text-align: center;
  }
  .views-img-wrap {
    display: grid;
    grid-template-columns: 1fr;
  }
  #phone-views {
    justify-items: baseline;
    flex-direction: row;
    justify-content: center;
  }
  .view-img {
    width: 100%;
  }
}

.project-links{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.project-links a{
  background-color: var(--creme);
  border-radius: 5px;
  padding: 2px 10px;
  color: var(--deep-blue);
  font-weight: bold;
  display: inline-block;
  margin: 10px;
}

.project-links a:visited{
  background-color: var(--silver);
  border-radius: 5px;
  color: var(--deep-blue);
}
.project-links a:hover, a:focus{
  background-color: var(--blue);
  color: white;
  text-decoration: underline;
}
@media all and (max-width: 900px) {
  .project-links {
   flex-wrap: wrap;
   justify-content: center;
  }
}

/*Contact-page styling begins*/
#contact-page {
  max-width: 760px;
  margin: 200px auto 200px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 100px;
}

.contact-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  background-color: var(--deep-blue);
  color: var(--creme);
  border-radius: 15px;
  width: auto;
  height: auto;
  min-height: auto;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2), 0 5px 5px 0 rgba(238, 203, 150, 0.24);
  margin: 10px;
  text-align: center;
}
.contact-info h3{
  align-self: center;
}
@media all and (max-width: 900px) {
  #contact-page {
    margin: 100px auto 100px;
    padding: 50px;
  }
}
/*Contact-page styling ends*/
footer p {
  font-weight: bold;
}