:root {
  --deep-blue: #061b2e;
  --creme: #b69979;
  --blue: #007eb4;
  --silver: #f7f7f7;
}
*{
  box-sizing: border-box;
}

/* general stylings start*/
body{
  background-color: var(--deep-blue);
  color: var(--creme);
  font-family: 'Lora', sans-serif; 
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
}
h1 {
  font-size: 30px;
  font-weight: 700;
}
.page-main{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile {
  max-width: 700px;
  margin: 100px auto;
  margin-bottom: 70px;
  display: flex;
}
.profile-portrait{
  /* float: left; */
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}
.about-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-heading, #about-paragraph{
  margin-bottom: 0;
}
body p, label{
  font-size: 20px;
}
/* general stylings end*/

/* Header stylings start*/
.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  position:sticky;
  top: 1px;
  background-color: var(--deep-blue);
}
.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  align-self: flex-start;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.navigation-list__item--active {
  color: var(--silver);
  font-weight: bolder;
}
#nikola_logo{
  width: 10%;
  height: 10%;
}
/* header styling end */

/* General grid stylings start */
.grid__item {
  display: inline-block;
  width: 33%;
 }
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid__item {
  background-color: var(--deep-blue);
  color: var(--creme);
  border-radius: 30px;
  padding: 30px;
  width: auto;
  height: auto;
  min-height: auto;
  margin: 0;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2), 0 5px 5px 0 rgba(238, 203, 150, 0.24);
  position: relative;
}
/* General grid stylings end*/


/* // I will not use these for the time being */
/* body div span{
  background-color: --deep-blue;
  color: #b9b1a9;
  padding: 4px;
  border-radius: 60%;
} */

/* .grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
} */



  /* Footer stylings start*/
.page-footer{
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  width: 100%;
  bottom: 0;
}
/* #main-page_footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  } */
form, .contact-footer{
  text-align: center;
}
footer img{
    width: 40px;
}
body footer p{
  font-size: 15px;
}
/*footer stylings end*/

/* Contact site stylings start*/
.form-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact {
  background: var(--deep-blue);
  padding: 30px;
  margin: 30px 0;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2), 0 5px 5px 0 rgba(238, 203, 150, 0.24);
  border-radius: 10px;
}
fieldset {
  border-color: var(--creme);
  border-radius: 10px;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact-heading{
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  font-size: 25px;
}
.input-field {
  font: 400 13px/15px "Lato", sans-serif;
  width: 90%;
  border: 1px solid #b69979;
  background: var(--creme);
  color: var(--deep-blue);
  margin: 10px;
  margin-top: 0;
  padding: 10px;
  border-radius: 3px;
}
::placeholder {
  color: var(--deep-blue);
}
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact-button {
  width: 90%;
  margin: 15px;
  font-size: 15px;
  color: white;
}
.standard-label{
  display: flex;
  margin-left: 18px;
  align-items: flex-start;
  font-size: medium;
  color: var(--silver);
}
.contact-info{
  display: inline-block;
  position: absolute;
  background-color: var(--deep-blue);
  color: var(--creme);
  border-radius: 15px;
  padding: 30px;
  width: auto;
  height: auto;
  min-height: auto;
  margin: 0;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2), 0 5px 5px 0 rgba(238, 203, 150, 0.24);
}
.contact-info p {
  margin-top: 0;
}
/* Contact site stylings end*/

/* stylings of links and buttons start*/
a{
  color: var(--creme);
  text-decoration: none;
  }
/* a:visited{
  color: var(--blue);
  } */
#look-work{
  color: var(--silver);
  font-weight: bold;
}
a:hover, a:focus {
  text-decoration: none;
  color: var(--silver);
  background-color: var(--blue);
  padding: 4px;
  border-radius: 5px;
  transition: 0.2s opacity;
}
/* a:active{
  text-decoration: underline;
  color: var(--creme);
} */
a:hover, a:focus, .a:hover, .a:focus {
  cursor: pointer;
  opacity: 0.8;
}

#work-heading{
  text-align: center;
}

#download-cv{
  margin-bottom: 10px;
}
#download-cv:visited{
  color: white;
}
.button, button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--blue);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
  }
button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
  }
  
#contact-email:valid{
  border: 2px solid green;
 }
/*#contact-email:invalid{
  border: 2px solid red;
}*/
/*When I use this particular line the border is red even whithout any interaction with the email input field.
I would like it to become red only when a false email pattern is inputed*/

/* stylings of links and buttons end*/


/*color specifics start*/
footer div a:hover, a:focus {
  text-decoration: none;
  padding: 0;
  background-color: var(--deep-blue);
}
footer div a:visited{
  text-decoration: none;
  background-color: var(--deep-blue);
}
.social-media_icon:hover{
  position: relative;
  top: -4px;
}
.grid a{
  background-color: var(--creme);
  border-radius: 5px;
  padding: 2px;
  color: var(--deep-blue);
  font-weight: bold;
  display: inline-block;
}

.grid__item{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.grid__item a {
  position: absolute;
  bottom: 41px;
  left: 28px;
}
.grid__item_img {
  width: 90%;
  border: 2px solid #b69979;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2), 0 5px 5px 0 rgba(238, 203, 150, 0.24);

}

.grid__item a:last-of-type {
  bottom: 6px; /* add a small gap between the two elements */
}
.grid a:visited{
  background-color: var(--silver);
  border-radius: 5px;
  color: var(--deep-blue);
}
.grid a:hover, a:focus{
  background-color: var(--blue);
  color: white;
  text-decoration: underline;
}
/*color specifics end*/

/*MEDIA QUERIES start*/
@media all and (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 700px) and (max-width: 1100px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
@media all and (max-width: 500px) {
  .profile {
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 0;
   margin-bottom: 0;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  #nikola_logo{
    width: 1em;
  }
}
@media all and (max-width: 1000px) {
  .contact-info {
   position: relative;
   max-width: 400px;
   text-align: center;
   max-width: 400px;
   width: 100%;
   margin: 0 auto;
  }
}
@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
/* LONG VERSION .sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
} */
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}